*{
    margin: 0;
    padding: 0;
    /*
    font-family: sans-serif;
    font-family: monospace;*/
	font-family: 'M PLUS Rounded 1c', sans-serif;
}



body{
    /*background: #51527E;*/
    width: 100%;
    background-image: url("../images/anthony-garand-5sT07dJl65s-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;  
}

.hero{
    /*background-color: #0F0431;*/
    background-color: rgba(15, 4, 49, 0.55);
    overflow: hidden;
}

.hero img{
    width: 100px;
    height:auto;
}

.hero nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
}

.hero nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

.hero nav ul li a{
    text-decoration: none;
    color: #00ffa6;
    font-weight: bold;
}

.hero nav ul li a:hover{
    color:#ff008b;
}

.detail{

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.detail nav{
    margin-left: 8%;
    margin-top: 3%;
}

.detail h1{
    
    font-size: 50px;
    color: #A49EDB;
    margin-bottom: 20px;
}

span{
    color: #ff008b;
}

.detail p{
    color:azure;
    line-height: 22px;
}

.explanation p{
    color:azure;
    line-height: 22px;
}

.explanation li{
    color: #A49EDB;
    list-style-position:outside;
}
.inside li{
    list-style-position:inside;
    color: #A49EDB;
}


.explanation span{
    color: #A49EDB;
}

.explanation h2{
    font-size: 25px;
    color: #A49EDB;
    margin-top: 10px;
}

.explanation h2 span{
    color: #ff008b;
}

.explanation2 p{
    color:azure;
    line-height: 22px;
}

.explanation2 li{
    color: #A49EDB;
    list-style-position:outside;
}
.inside2 li{
    list-style-position:inside;
    color: #A49EDB;
}


.explanation2 span{
    color: #A49EDB;
}

.explanation2 h2{
    font-size: 25px;
    color: #A49EDB;
    margin-top: 10px;
}

.explanation2 h2 span{
    color: #ff008b;
}

.detail a{
    background: #ff008b;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: azure;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.CVbtn a{
    background: #ff008b;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: azure;
    display: inline-block;
    margin: 20px ;
	margin-bottom: 0%;
    border-radius: 5px;
	margin-left: auto;
}

.CVbtn a:hover{
    background: #A49EDB;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: azure;
    display: inline-block;
    margin: 20px ;
	margin-bottom: 0%;
    border-radius: 5px;
	margin-left: auto;
}

.CVbtn p{
	font-style: italic;
}